* {
  margin: 0;
  padding: 0;
}
.container {
  width: 1240px;
  margin: 0 auto;
}

.content {
  width: 650px;
  height: 450px;
  background: rgb(17, 208, 234);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border: solid 5px black;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-content: flex-end;
  justify-content: center;
  position: relative;

}
.con {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}
.content h1 {
  font-size: 25px;

}
.img{
  display: flex;
  align-items: center;
  position: absolute;
  left: 370px;
  
}